<!-- ctrl=LandingCtrl as landingCtrl -->
<section id="edhub-landing-section">

    <!-- START:  Hero Landing -->
    <section id="j-main-landing-hero" class="j-landing-hero j-overflow-hidden" layout="row"
             layout-align="start center" layout-padding>
        <div class="j-landing-hero-text" flex="50">
            <h1>Rapper Live</h1>
            <p style="font-weight: lighter">
                <small>The Platform for Audio Artists</small>
            </p>
        </div>
    </section>

    <!-- Search Result tool -->
    <md-toolbar id="edhub-recent-jobs-landing-title" class="md-padding j-text-center">
        <div layout="row" layout-padding layout-margin>
            <md-button ng-click="s_changePresentState('dog')">Rap Battle</md-button>
            <md-button ng-click="s_changePresentState('cat')">Stream</md-button>
            <md-button ng-click="s_changePresentState('all')">
                All Live Streams <ng-md-icon data-icon="favorite"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <!-- test live stream -->

</section>